{% extends 'authenticate/base.html' %}

{% block extra_head %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'authenticate/css/styles.css' %}">
<style>
    .progress {
        height: 20px;
    }
    .progress-bar {
        transition: width 0.6s ease;
    }
    .progress-bar-red {
        background-color: red;
    }
    .progress-bar-orange {
        background-color: orange;
    }
    .progress-bar-yellow {
        background-color: yellow;
    }
    .progress-bar-lightgreen {
        background-color: lightgreen;
    }
    .progress-bar-green {
        background-color: green;
    }
</style>
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center">Password Strength Checker</h2>
    <form id="password-checker-form" method="POST" class="form-group">
        {% csrf_token %}
        <label for="password">Enter Password:</label>
        <input type="password" name="password" id="password-input" class="form-control" oninput="checkPasswordStrength()" required>
        <button type="submit" class="btn btn-primary mt-3">Check Strength</button>
    </form>

    {% if password_strength %}
        <div class="mt-4">

            {% if password_strength.feedback %}
                <h4>Feedback:</h4>
                <ul>
                    {% for suggestion in password_strength.feedback.suggestions %}
                        <li>{{ suggestion }}</li>
                    {% endfor %}
                </ul>
                <p class="text-warning">{{ password_strength.feedback.warning }}</p>
            {% endif %}

            <h4>Password Strength Status: {{ password_strength.status }}</h4>
            <div class="progress">
                <div class="progress-bar 
                    {% if password_strength.status == 'Very Strong' %}progress-bar-green
                    {% elif password_strength.status == 'Strong' %}progress-bar-green
                    {% elif password_strength.status == 'Medium' %}progress-bar-yellow
                    {% else %}progress-bar-red{% endif %}" 
                    role="progressbar" 
                    style="width: 
                        {% if password_strength.status == 'Very Strong' %}100%
                        {% elif password_strength.status == 'Strong' %}75%
                        {% elif password_strength.status == 'Medium' %}50%
                        {% else %}20%{% endif %};">
                </div>
            </div>

            <h4>Password Strength Analysis Graph:</h4>
            <img src="data:image/png;base64,{{ chart_url }}" alt="Password Strength Graph">
        </div>
    {% endif %}

    {% if error_message %}
        <div class="alert alert-danger">{{ error_message }}</div>
    {% endif %}

    <script>
        function checkPasswordStrength() {
            
        }
    </script>
</div>
{% endblock %}
