{% extends 'authenticate/base.html' %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center">Password Generation History</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Generated Password</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {% for password in passwords %}
            <tr>
                <td>{{ password.password }}</td>
                <td>{{ password.created_at }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
